body, a {
    font-family: arial,sans-serif;
    text-decoration: none;
    color: #757575;
    margin: 0px;
	padding: 0px;
	border: 0px;
}

/* Link and list Styles */

a:hover {
    text-decoration: underline;
}

a:visited {
    text-decoration: none;
    color: #757575;
}

/* ---------- */


